<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/head.ejs") %>
  <body class="rtl">
    <div class="m-5 d-flex flex-column align-items-center">
      <h4 class="m-5">صفحه مورد نظر یافت نشد!</h4>
      <a class="btn btn-outline-info col-3" href="/"> برگشت به صفحه اصلی </a>
    </div>
  </body>
</html>
